<div class="container">
      <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
     <% end %>
	<%= form_for @user ,url: {action: "create"} do |f| %>
	   <div class="account">
	   	账号:<%=f.text_field :account %>	   	
	   </div>
	   <div class="password">
	   	密码:<%=f.password_field :password%>
	   </div>
	   <%= f.submit "登录" %>
	<%  end %>
</div>
