

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
 <% end %>
<!-- 注册表单 -->
<div class="container sign_up">
  <%= form_for @user,url: {action: "create"}, validate: true do |f| %>
  <div>
    <!-- %= f.label "用户名"  %-->
   用户名: <%= f.text_field :account %>

  </div>
  <div>
  	<%= f.label "手机号" %>
  	<%= f.telephone_field :phone %>
  </div>
  <div>
  	<%= f.label "邮箱" %>
  	<%= f.email_field :email %>
  </div>
  <div>
  	<%= f.label "密码" %>
  	<%= f.password_field :password %>
  </div>
   <div>
  	<%= f.label "重复密码" %>
  	<%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "注册" %>   	
 <% end %>
</div>

