<!-- 头部 -->
<%=render "shared/header"%>
<!-- 导航栏-->
<%=render "shared/navbar"%>
<!-- 内容-->
<div class="container ">	
	<div class="row ">
		<div class="col-md-4 col-sm-6 col-8 col-md-offset-4">
			<%= form_tag('/users/create',method: :post) do -%>
				<div class="form-group">
				   <%= label_tag(:lab_account,"账号:",class: "control-label")%>
				   <%= text_field_tag 'account', "",class: "form-control"%>
				   <p class="mes_account"></p>
				 </div>
				 <div class="form-group">
				   <%= label_tag(:lab_email,"邮箱:",class: "control-label")%>
				   <p><%= email_field_tag 'email', "",class: "form-control"%></p>
				   <p class="mes_email"></p>
				 </div>
				  <div class="form-group">
				   <%= label_tag(:lab_phone,"手机号:",class: "control-label")%>
				   <%= telephone_field 'phone', "",class: "form-control"%>
				 </div>
				 <div class="form-group">
				   <%= label_tag(:lab_password,"密码:",class: "control-label")%>
				   <%= password_field 'password', "",class: "form-control"%>
				 </div>
				 <div class="form-group">
				   <%= label_tag(:lab_password_confirmation,"确认密码:",class: "control-label")%>
				   <%= password_field 'password_confirmation', "",class: "form-control"%>
				 </div>			     			
			     <%= submit_tag '注册',class: "btn btn-primary",disabled: true %>
		   <% end -%>
		   				
		</div>
	</div>
	
</div>
<!--底部 -->
<%= render "shared/footer" %>