<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark fixed-top" >
    <div class="navbar-header">
      <a class="navbar-brand" href="#">首页</a>
    </div>
	<ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/users/new"> 注册</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="#">登录</a>
      </li>
    </ul>
  </nav>
</div>
  
