<div class="container">
   <!-- 上传 -->
   <div class="row">
      <div class="col-mad-6">
     	<form id="uploadForm" enctype="multipart/form-data" v-model="file" name="test">
          <div>
       	    <input id="file" name="file" type="file" accept="" multiple webkitdirectory onchange="getFiles(this.files)" />
          </div>
          <div>
           <label>上传进度:</label>
           <progress id="progress" value=0></progress>
          </div>
          <div>
       	     <button id="upload" type="button">upload</button>
         </div>      
        </form>
      </div>
      <!--  上传信息  -->
      <div class="col-mad-6">
       	  
      </div> 	 
   </div>
   
   <!--  上传记录  -->
   <div class="row">
   	
   </div>

</div>
